<div class="relative">
    <div class="shadow-[0_0_10px_rgba(0,0,0,0.7)] transition-shadow transition-transform transition-shadow duration-300 ease-in-out hover:scale-[104%] hover:shadow-[0_0_15px_rgba(0,0,0,0.8)]">
      <a href="#" class="block cursor-pointer">
        <div>
          <img class="" src="{{ image }}" alt="" />
          <div class="absolute top-0 h-full w-full" style="background: linear-gradient(rgba(0,0,0,0), rgb(28,108,146) 100%)"></div>
          <div class="absolute bottom-[16px] text-center p-4 w-full">
            <span class="text-[16px] text-white font-bold drop-shadow">{{ name }}</span>
          </div>
        </div>
      </a>
    </div>
</div>
