<div class="flex flex-col justify-center lg:pt-32 md:pt-32 sm:pt-16 items-center">
  <div class="lg:w-2/6 lg:px-10 md:w-2/3 w-4/5">
    <div class="flex flex-col mx-1 my-4">
      <div class="uppercase text-white md:text-2xl font-bold text-xl">Iniciar sessão</div>
    </div>
    <div class="bg-[#171D25] rounded py-8">
      <div class="flex justify-center">
        <form (ngSubmit)="login()" class="flex grid w-full max-w-lg md:pl-3 md:pr-3 pl-6 pr-6" #form="ngForm">
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label for="username" class="block uppercase tracking-wide text-white md:text-sm text-[10px] font-semibold mb-2">
                Iniciar sessão com o nome de usuário
              </label>
              <input id="username" [(ngModel)]="username" name="username" type="text" #usernameModel="ngModel" required
                     class="appearance-none block w-full bg-[#1C2C3C] text-white border border-[#1C2C3C] rounded py-2 px-4 mb-1 leading-tight focus:outline-none focus:bg-[#1C2C3C]"
                     [ngClass]="{'border-rose-800': (form.submitted || usernameModel.touched) && !isUsernameValid()}">
              <div class="text-rose-800 uppercase font-semibold text-[10px]" [ngClass]="{'hidden': !usernameModel.touched || isUsernameValid() || !form.submitted}">
                Verifique seu nome de usuário.
              </div>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label for="password" class="block uppercase tracking-wide text-white md:text-sm text-[10px] font-semibold mb-2">
                Senha
              </label>
              <input id="password" [(ngModel)]="password" name="password" type="password" #passwordModel="ngModel" required
                     class="appearance-none block w-full bg-[#1C2C3C] text-white border border-[#1C2C3C] rounded py-2 px-4 mb-1 leading-tight focus:outline-none focus:bg-[#1C2C3C]"
                     [ngClass]="{'border-rose-800': (form.submitted || passwordModel.touched) && !isPasswordValid()}">
                     <div class="text-rose-800 uppercase font-semibold text-[10px]" [ngClass]="{'hidden': !passwordModel.touched || isPasswordValid() || !form.submitted}">
                      Verifique sua senha.
                    </div>
            </div>
          </div>
          <div class="flex items-center mb-3">
            <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe" class="checkbox border-[#04BCFC] checked:border-[#04BCFC] border-2 border-solid w-4 h-4 rounded-sm">
            <label for="rememberMe" class="ml-2 text-[10px] font-medium text-white dark:text-gray-300 pointer-events-none">MANTENHA-ME CONECTADO</label>
          </div>
          <div class="flex flex-col items-center pt-3">
            <button type="submit" class="cursor-pointer px-8 py-3 rounded bg-gradient-to-r from-[#2C7CFC] to-[#04BCFC] text-white text-sm font-bold">INICIAR SESSÃO</button>
          </div>
          <a routerLink="/register" class="cursor-pointer uppercase text-white font-bold flex items-center justify-center underline decoration-1 mt-4 text-[9px]">Não possui conta? Cadastre-se agora</a>
        </form>
      </div>
    </div>
  </div>
</div>
