<div class="group relative">
    <div class="bg-[#1C6C92] shadow-[0_0_10px_rgba(0,0,0,0.7)] transition-shadow transition-transform transition-shadow duration-300 ease-in-out hover:scale-[104%] hover:shadow-[0_0_15px_rgba(0,0,0,0.8)]">
      <a href="#" class="block cursor-pointer">
        <div>
          <img class="" src="{{ image }}" alt="" />
        </div>
        <div class="flex items-center cursor-pointer text-white font-bold">
          <span class="flex flex-row px-2 py-3">{{ name }}</span>
          <div class="flex ml-auto pr-2 font-semibold">
            <span class="flex">
              <div class="flex px-2 py-0.5 bg-[#1C2C3C]">
                <div>{{ price }}</div>
              </div>
            </span>
          </div>
        </div>
      </a>
    </div>
</div>
