<div class="relative w-full overflow-hidden">
    <div class="flex overflow-x-auto snap-x snap-mandatory lg:hidden">
        <div *ngFor="let game of games" class="snap-center flex-shrink-0 w-64 h-48 md:my-1.5 md:mr-3 mr-3 bg-[#1C6C92] shadow-[0_0_10px_rgba(0,0,0,0.7)] transition-shadow">
            <a class="block w-64 h-48">
                <div>
                    <img class="h-36" [src]="game.image" alt="Imagem do jogo">
                </div>
                <div class="flex items-center cursor-pointer text-white font-bold">
                    <span class="flex flex-row px-2 py-3 truncate md:text-sm text-[14px]">{{ game.name }}</span>
                    <div class="flex ml-auto px-2 md:py-0 py-1.5 font-semibold">
                    <span class="flex">
                        <div class="flex px-2 py-0.5 bg-[#1C2C3C] md:text-sm text-[14px]">
                            <div>{{ game.price }}</div>
                        </div>
                    </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
