/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-custom {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
  }

html {background-color: #1C2C3C;}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Preenche toda a altura da viewport */
  margin: 0;
}

main {
  flex: 1; /* Ocupa todo o espaço disponível restante */
}

footer {
  background-color: #171d25;
  color: #bababa;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Empurra o footer para o final da viewport */
}

/* Estilos para a scrollbar no Firefox */
.scrollbar-custom {
  scrollbar-width: auto;
  scrollbar-color: rgba( 35, 60, 81, 0.4 ) rgba(0, 0, 0, 0.2);; /* Cor da barra e do trilho */
}

/* Estilos para a scrollbar no Webkit (Chrome, Safari, Edge) */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px; /* Largura da scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Cor da barra */
  border-radius: 8px; /* Arredondar as bordas da barra */
  border: 3px solid #171D25; /* Cor do trilho ao redor da barra */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #171D25; /* Cor do trilho da scrollbar */
  border-radius: 8px; /* Arredondar as bordas do trilho */
}